/* Border Box for all HTML */
* {
    box-sizing: border-box;
}

/* Fuentes empleadas */
@font-face {
    font-family: personalFont;
    src: url(../fonts/personalFont.otf);
    font-weight: 400;
}

/* Estructura de la pagina  */
body {
    margin: 0em;
}

.display {
    height: 100vh;
}

.display.Start {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 1);
}

.display.Char {
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: row;
    display: none;
}

.display.Fight {
    background-color: chartreuse;
    display: none;
}

.display.End {
    background-color: crimson;
    display: none;
}

.button {
    height: 40%;
    width: 50%;
}

/* Estilos de 'Pantalla Start' */
.selectNullStart {
    height: 25%;
    width: 100%;
}

#tittleGame {
    background-image: url(../img/street-fighter-logo.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 40%;
}

#tittleBottom {
    display: flex;
    flex-direction: row;
    height: 35%;
}

.nullStart {
    height: 100%;
    width: 35%;
}

#buttonStartDiv {
    height: 100%;
    width: 30%;
    text-align: center;
}

#buttonStartChildTop {
    height: 10%;
}

#buttonStartChildBottom {
    height: 90%;
}

#buttonStart {
    color: white;
    font-family: personalFont;
    font-size: xx-large;
    letter-spacing: 0.1em;
    background-color: black;
    height: 50%;
    width: 50%;
    border: none;
    cursor: pointer;
}

/* Estilos de 'Seleccion de Personaje' */
.nullCharTop {
    color: white;
    font-family: personalFont;
    font-size: xx-large;
    letter-spacing: 0.2em;
    display: flex;
    justify-content: center;
    height: 25%;
}

.selectDIV {
    display: flex;
    flex-direction: row;
    height: 35%;
}

.selectNull {
    height: 100%;
    width: 30%;
}

.selectChar {
    color: blanchedalmond;
    cursor: pointer;
    height: 100%;
    width: 10%;
}

.selectChar.One {
    background-image: url(../img/ryu-static.png);
    background-repeat: no-repeat;
}

.selectChar.Two{
    background-image: url(../img/chunli-static.png);
    background-repeat: no-repeat;
    margin-top: 1em;
    height: 95.2%;
}

.selectChar.Three{
    background-image: url(../img/ken-static.png);
    background-repeat: no-repeat;
    margin-top: 1em;
    height: 95.2%;
}

.selectChar.Four{
    background-image: url(../img/akuma-static.png);
    background-repeat: no-repeat;
}

.chooseFighter {
    display: flex;
    flex-direction: row;
    height: 40%;
}

#fighterP1 {
    text-align: end;
    margin-top: 3.5em;
    height: auto;
    width: 20%;
}

#fighterP2 {
    text-align: end;
    margin-top: 3.5em;
    height: auto;
    width: 20%;
    transform: rotateY(180deg);
}

.chooseFighterVS {
    display: flex;
    flex-direction: column;
}

.imgVS {
    height: 50%;
    width: 100%;
}

.versus {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 100%;
}

#buttonFight {
    display: none;
    color: white;
    font-family: personalFont;
    font-size: xx-large;
    letter-spacing: 0.1em;
    background-color: black;
    height: 50%;
    width: 50%;
    border: none;
    cursor: pointer;
}